In [1]:
# Create a variable containing following type of data:
#(1) string 
#(2) list 
#(3) float
#(4) tuple

In [3]:
 # string 
string = "Dipanshu"
print(type(string))

<class 'str'>

In [4]:
# list
a = [True, 44, 88, 5+4j, "Naman"]
print(type(a))

<class 'list'>

In [5]:
# float
b = 45.99
print(type(b))

<class 'float'>

In [6]:
# Tuple 
c = ("apple", "banana", "cherry")
print(type(c))

<class 'tuple'>

In [7]:
# Tuple are immutable but list is immutable

In [8]:
# Q2 Given are some following variables containing data:
#1 var1 = ''
#2 var2 = '[DS, ML, Python]'
#3 var3 = ['DS', 'ML', 'Python']
#4 var4 = 1

# What will be the data types of the above given variable.

In [9]:
var1 = ''
print(type(var1))

<class 'str'>

In [10]:
var2 = '[DS, ML, Python]'
print(type(var2))

<class 'str'>

In [11]:
var3 = ['DS', 'ML', 'Python']
print(type(var3))

<class 'list'>

In [13]:
var4 = 1.
print(type(var4))

<class 'float'>

In [14]:
# Explain the use of the following operators using an example:
#(1) /
#(2) %
#(3) //
#(4) **

In [15]:
#(1) '/' - This is called divisible operator which is used to divide two numbers
# example -:
a = 8
b = 4
Result = a/b
print(Result)

2.0

In [16]:
#(2) '%' - This is called modulus operator which divides the given numerator by the denominator to find a result 
# In simple it divides the given numerator by the denominator to find a result
# example -:
x = 5
y = 2
Result = x%y
print(Result)

1

In [18]:
#(3) '//' - This operator is also called as floor division 
#the floor division // rounds the result down to the nearest whole number
# example -:
x = 21
y = 2
Result = x // y
print(Result)

10

In [19]:
#(4) '**' - This operator is also called as Exponentiation
# This operator is used to raise a number to the power of another number
# example -:
x = 2
y = 4
Result = x ** y  
#same as 2*2*2*2
print(Result)

16

In [20]:
# Q4- Create a list of length 10 of your choice containing multiple types of data. Using for loop
# print the element and its data type.

In [22]:
box = ["Krish", "Dipanshu", "Naman", True, 44, 9 + 5j, False, 99, 7.67, "8 + 4j"]
for items in box:
    print(items, type(items))

Krish <class 'str'>
Dipanshu <class 'str'>
Naman <class 'str'>
True <class 'bool'>
44 <class 'int'>
(9+5j) <class 'complex'>
False <class 'bool'>
99 <class 'int'>
7.67 <class 'float'>
8 + 4j <class 'str'>

In [23]:
# Q5 - Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible

In [27]:
a = 500
b = 10
division = 0
while a % b == 0:
    a = a // b
    division += 1
print(division)

2

In [25]:
# Q6 - Create a list containing 25 int type data. using for loop and if-else condition print if the element is 
# divisible by 3 or not

In [29]:
box_items = [2, 3, 4, 6, 8, 9, 15, 21, 25, 30, 44, 46, 57, 99, 39, 43, 55, 92, 102, 124, 22, 90, 150, 157, 199]
len(box_items)

25

In [30]:
for i in box_items:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
21 is divisible by 3
25 is not divisible by 3
30 is divisible by 3
44 is not divisible by 3
46 is not divisible by 3
57 is divisible by 3
99 is divisible by 3
39 is divisible by 3
43 is not divisible by 3
55 is not divisible by 3
92 is not divisible by 3
102 is divisible by 3
124 is not divisible by 3
22 is not divisible by 3
90 is divisible by 3
150 is divisible by 3
157 is not divisible by 3
199 is not divisible by 3

In [31]:
# Q7 - What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [34]:
# Mutable data type -: Mutable data types are those whose values can be changed or new values can be assigned to them
#example -: list, dictionary, set
box = [34, 55, 77, 88, 9, 56, 99]
# if we want to access each number in upper list we can 
print(box[1])
print(box[-2])
box[4] = 100
print(box)

55
56
[34, 55, 77, 88, 100, 56, 99]

In [ ]:
# Immutable data type -: Immutable datatypes are objects that cannot be modified or altered after they have been created 
# (for example, by adding new elements, removing elements, or replacing elements)
name = "NAMAN"
# if we try to change its index value it will not change because string is immutable
name[1] = "b"